@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body{
   font-family: 'Oswald', sans-serif;
   font-size: 1.3em;
   text-align: center;
}
.contenedor{
   width: 90%;
   margin: 3px auto;
 }
 nav{
   background-color: indigo;
   color: white;
 }
 nav ul{
   padding: 0px;
   list-style: none;
 }
 nav li{
   display: inline;
 }
 nav a{
   text-decoration: none;
   font-size: 2.0em;
   padding-right: 15px;
   color: black;
 }
 nav a:hover{
   text-decoration: underline;
   color: tomato   ;
 }
 header{
   background-image: url(..//img/descarga.jpg);
   /* height: 400px; */
   min-height: 400px;
   margin-bottom: 30px;
   text-align: center;
   color:white; 
   background-repeat: no-repeat;
   background-size: cover;

 }
 #izquierdo{
   float: left;
   width: 25%;
   padding: 5px 20px;
   box-sizing: border-box;
 }
 #principal{
   float: left;
   width: 50%;
   padding: 5px 20px;
   box-sizing: border-box;
 }
 #derecha{
   float: left;
   width: 25%;
   padding: 5px 20px;
   box-sizing: border-box;
 }
 #pie{
   clear: both; /* Anula el sistema de flotamiento.  */
   text-align: center;
 }
